body {
    margin: 100px;
    background-color: #ecddd6
}

.card {
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 2px black;
    background-color: #c0d6c5
}

h1 {
    position: relative;
    left: 10%;
    font-family: Baloo Bhai;
    font-size: 6em;
    color: #000;
}

h3 {
    position: relative;
    left: 630px;
    margin: 20px;
}

.box {
    margin-top: 20px;
    box-shadow: 2px 2px 2px black;
    width: 100%;
    background-color: #d2c3c0;
}

.boxed {
    box-shadow: 2px 2px 2px black;
    width: 100%;
    margin-bottom: 20px;
    background-color: #dbd8b2;
}

.table {
    font-family: Bangers;
    font-size: 2.2em;
    position: relative;
    width: 80%;
}

.style {
    font-family: VT323;
    font-size: 2em;
    position: relative;
    left: 10px;
}

.style2, .textbox2 {
    font-family: VT323;
    font-size: 3em;
    margin: 4px;
    width: 35%;
    position: relative;
}

.style3, .style4 {
    font-family: VT323;
    font-size: 4em;
}

.btn {
    width: 80%;
    position: relative;
    left: 10%;
}

.remove {
    width: 10%;
    height: 30px;
}





h4 {
    font-family: Bangers;
    font-size: 23m
}

@media all and (max-width: 1060px) {
    body {
        font-size: 50%;
    }
}

@media all and (max-width: 843px) {
    body {
        font-size: 50%;
    }

    .style2, .textbox2 {
        width: 25%;
    }
}

@media all and (max-width: 563px) {
    body {
        font-size: 40%;
    }

    .style2, .textbox2 {
        width: 70%;
    }
}

@media all and (max-width: 400px) {
    body {
        font-size: 30%;
    }

    h1 {
        position: relative;
        right: 20%;
    }

    table {
        position: relative;
        right: 30px;
    }

    hr {
        position: relative;
        right: 20%
    }

    .style2, .textbox2 {
        width: 90%;
    }

    .btn {
        padding: 5px;
        margin-bottom: 5px;
    }

    .table {
        font-size: 2.1em;
    }
}
